%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;

  &:hover {
    background-color: $blue-hover-button-color;
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.success {
    background-color: $success-color;

    &:hover {
      background-color: $green-hover-button-color;
    }
  }

  &.danger {
    background-color: $error-color;

    &:hover {
      background-color: $red-hover-button-color;
    }
  }

  &.diet {
    background-color: white;
    border: 1px solid $base-border-color;
    color: $brand-gray;
  }

  &.diet:hover {
    background-color: $brand-input-gray;
  }

  &.link {
    color: $brand-pink;
    background-color: transparent;
  }
}
