@mixin focus {
    border: 1px solid $brand-gray;
    border-bottom: 2px solid $brand-gray;
}

form {
  margin-bottom: 0;
}

fieldset {
  background: lighten($base-border-color, 10);
  border: $base-border;
  margin: 0 0 ($base-spacing / 2) 0;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

input {
  @include placeholder {
    font-weight: $light;
  }
}

label {
  font-weight: $normal;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: $brand-input-gray;
  border-radius: $form-border-radius;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: $base-border;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  font-size: $form-font-size;
  font-weight: $form-font-weight;
  color: $brand-gray;
  margin-bottom: $base-spacing / 2;
  padding: ($base-spacing / 3) ($base-spacing / 3);
  width: 100%;

  &:focus {
    outline: none;
    @include focus;
  }
}

textarea {
  height: 160px;
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $base-spacing / 4;
}

input[type="file"] {
  padding-bottom: $base-spacing / 2;
  width: 100%;
}

input[type="hidden"] {
  display: inline;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  display: inline;
}

select {
  margin-bottom: $base-spacing;
  width: 100%;
  height: 2.5em;
  background-color: $brand-input-gray;
  border: 0;
  border-bottom: $base-border;
  color: $brand-gray;
  font-weight: $light;

  &:focus {
    outline: none;
    border-bottom: 2px solid $brand-gray !important;
  }
}

.field {
  margin-bottom: 20px;
}

.help-text {
  margin-bottom: 0;
  color: $brand-gray;
}
