.dataTables_filter {

  input{
    padding: 5px;
    margin: 0;
  }
}

.dataTables_length {
  display: inline-block;
  margin-top: 5px;

  select {
    height: initial;
    width: 75px;
    display: inline-block;
    margin: 0;
    background-color: $brand-input-gray;
    color: $brand-gray;
  }
}

.dataTables_info {
  display: inline-block;
}

.dataTables_empty {
  text-align: center;
}

.dataTables_paginate {
  display: inline-block;
  @include float(right);
  margin: 0;

  a {
    margin-right: 10px;
    cursor: pointer;
  }

  > a:last-child {
    margin-right: 0;
  }
}

.sorting, .sorting_asc, .sorting_desc {
  cursor: pointer;
}

tr.odd {
  background-color: $brand-input-gray;
}

tr.even {
  background-color: lighten($brand-container-gray, 5%);
}

tr.odd td.sorting_1,
tr.odd td.sorting_2,
tr.odd td.sorting_3 {
  background-color: darken($brand-input-gray, 5%);
}

tr.even td.sorting_1,
tr.even td.sorting_2,
tr.even td.sorting_3 {
  background-color: darken($brand-container-gray, 5%);
}

table.dataTable tbody tr:hover {
  background-color: transparentize($brand-secondary, 0.7);

  &.even td.sorting_1,
  &.odd td.sorting_1 {
    background-color: transparentize($brand-secondary, 0.7);
  }
}

%sorting {
  font-size: xx-small;
  padding-left: 10px;
}

th.sorting_desc:after, th.sorting:after {
  content: "\25BC";
  @extend %sorting;
}

th.sorting_asc:after {
  content: "\25B2";
  @extend %sorting;
}

td ul li {
  display: inline;
}

.spacer {
  clear: both;
}

.nowrap {
  white-space: nowrap;
}
