<div>
  <!-- <%= nested_form_for @user do |f| %> -->

  <div class="field" style="display:block" id="additional_email">
    <label> Add Alias Email </label>
    <%= f.text_field :additional_emails, id:"new-email",
    style: "display: inline; width: 88%",
    name: "additional_emails", value: "" %>
    <button class="diet button add-email" id="add-email">Add</button>
  </div>

  <div class="field">
    <table class="email-address-table">
      <% @user.additional_emails.each do |email| %>
        <%= render partial: 'additional_emails/additional_email',
          locals: { additional_email: email } %>
      <% end %>
    </table>
  </div>

  <!-- <% end %> -->

</div>
