<% if current_user == @user %>
  <h1>Update Your Profile</h1>
  <% form = 'form' %>
<% else %>
  <h1>Edit User</h1>
  <h2><%= @user %></h2>
  <% form = 'admin_form' %>
<% end %>

<%= render :partial => form, :locals => {:button_title => 'Save Changes'} %>
