<h1>Manage Users</h1>

<div class="new-review"><%= link_to 'New User', new_user_path, :class => 'button' %></div>

<div class="form-container">
<table id="users" class="datatable" data-source="<%= users_url(format: "json") %>">
  <thead>
  <th>Name</th>
  <th>Email</th>
  <th></th>
  </thead>
  <tbody>

  </tbody>
</table>
</div>

<script>
  $('table#users').dataTable({
    sPaginationType: "full_numbers",
    bServerSide: true,
    sAjaxSource: $('#users').data('source'),
    oLanguage: {
        sInfoFiltered: ""
    },
    aoColumnDefs: [
      { bSortable: false, aTargets: [ 2 ] },
      { sClass: "nowrap button-col", aTargets: [2] }
    ],
    fnCreatedRow: function(nRow, aData, iDataIndex){
      var email = aData[1];
      $(nRow).attr('id', email.substr(0, email.indexOf('@')));
    }
  });
</script>
