<% provide(:title, "New user") %>

<h1>New user</h1>

<% if signed_in? %>
  <b>When creating a new user account for someone else, a welcome e-mail will be sent to them.</b>
<% end %>

<%= render :partial => 'form', :locals => {:button_title => 'Create Account'} %>

<%= link_to 'Back', users_path %>
