<% provide(:title, "New User") %>

<% if signed_in? and current_user.admin? %>
  <h1>Create User</h1>
  <p>When creating a new user account for someone else, a welcome email will be sent to them.</p>

  <% form = 'admin_form' %>
  <% button_title = 'Create User' %>

<% else %>
  <h1>Create an Account</h1>

  <% form = 'form' %>
  <% button_title = 'Create Account' %>
<% end %>

<%= render :partial => form, :locals => {button_title: button_title} %>
