<% if signed_in? and current_user.admin? %>
  <h1>New User</h1>
  <% cancel_link = users_path %>
  <% form = 'admin_form' %>
  <% button_title = 'Create' %>
<% end %>

<%= render :partial => form, :locals => {
  button_title: button_title,
  cancel_link: cancel_link } %>
