ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $base-spacing / 2;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $base-spacing / 2;
    padding-left: $base-spacing;
  }
}

div.ideaListHeader {
  margin-top: 10px;
  margin-bottom: -5px;

  &.comments-label {
    float: left;
    margin: 0 0.25em 0 0;
  }
}

div.ideaListHeader b{
  color: rgb(239,91,161);
}

ul.ideaListElement {
  padding-top: 5px;
  margin-left: 35px;
  list-style-type: circle;
}

dl {
  margin-bottom: $base-spacing / 2;

  dt {
    font-weight: bold;
    margin-top: $base-spacing / 2;
  }

  dd {
    margin: 0;
  }
}
