table {
  border-collapse: collapse;
  margin: ($base-spacing / 2) 0;
  table-layout: auto;
  width: 100%;
}

thead {
  background: $brand-secondary;
}

th {
  padding: ($base-spacing / 2) 15px;
  text-align: left;
  font-size: 0.9em;
  font-weight: normal;
  color: $brand-container-gray;
}

tbody {
  font-size: 12px;
  background: $brand-container-gray;
}

td {
  padding: ($base-spacing / 2) 15px;
  text-align: left;

  a {
    font-weight: bold;
  }
}

tr,
td,
th {
  vertical-align: middle;
}

td.button-col {
  padding-left: 2px;
  padding-right: 2px;
}

th.button-col {
  padding-left: 2px;
  padding-right: 2px;
}

td.right-most-button-col {
  padding-left: 2px;
  padding-right: 5px;
}

th.right-most-button-col {
  padding-left: 2px;
  padding-right: 5px;
}