<% upcoming_review = current_user.junior_consultant.upcoming_review %>

<% if upcoming_review %>
  <%= render upcoming_review %>
<% else %>
  <p class="notify">You don't have any upcoming reviews.</p>
<% end %>
