<h1>Watched Reviews</h1>
<%= render :partial => 'reviews/reviews' %>

<% if current_user.reviewing_groups.present? or current_user.coachees.present? %>
<div class="flash-primary">
  <p id="por-why" class="link">
    <i class="fa fa-question fa-border"></i> Why am I seeing these reviews?
  </p>
  <div id="which-reviews">
    <ul>
      <% unless current_user.reviewing_groups.empty? %>
      <li>
        You are a member of the following reviewing groups: <%= list(current_user.reviewing_groups) %>
      </li>
      <% end %>

      <% unless current_user.coachees.empty? %>
      <li>
        You have the following coachees: <%= list(current_user.coachees.includes(:user)) %>
      </li>
      <% end %>

      <% unless current_user.associate_consultant.nil? || current_user.associate_consultant.reviews.empty? %>
      <li>
        You have reviews
      </li>
      <% end %>
    </ul>
  </div>

</div>
<% end %>
