<% if upcoming_review %>
  <%= render upcoming_review %>
<% else %>
  <h1>Your Upcoming Review</h1>
  <p class="center">You don't have a review scheduled within the next six months.</p>
  <p class="center">If you think this is in error, please talk to your People Coach.</p>
<% end %>