<h1>Contributors</h1>


<ul class="dev-list">
  <li>
  <div class="dev-info">
    <figure>
      <img src="" />
      <figcaption><a href="mailto:aserafimoski@gmail.com">Aleksandar Serafimoski</a></figcaption>
    </figure>
  </div>
  </li>
  <li>
  <div class="dev-info">
    <figure>
      <img src="" />
      <figcaption><a href="mailto:rdunlop@thoughtworks.com">Robin Dunlop</a></figcaption>
    </figure>
  </div>
  </li>
  <li>
  <div class="dev-info">
    <figure>
      <img src="" />
      <figcaption><a href="mailto:sivanova@thoughtworks.com">Svetlana Ivanova</a></figcaption>
    </figure>
  </div>
  </li>
  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/images/contributors/valerie.jpg" />
      <figcaption><a href="mailto:varoske@thoughtworks.com">Valerie Roske</a></figcaption>
    </figure>
 </div>
  </li>
</ul>

