<h1> Contributors </h1>
<h2>
  <a href="mailto:review-site-support@thoughtworks.com">Need Support?</a>
</h2>
<ul>
  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/team-2014.png" width="600" />
        <figcaption> Review Site team at the Chicago holiday party 2014</figcaption>
      </figure>
    </div>
  </li>
</ul>

<h1>Current Team</h1>

<ul class="dev-list">
  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/new_lester_han.jpg" />
        <figcaption><a href="mailto:lehan@thoughtworks.com">Lester Han</a><br/>
          (New York)
        </figcaption>
      </figure>
    </div>
  </li>
  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/lester_han.jpg" />
        <figcaption><a href="mailto:aobley@thoughtworks.com">Aidan Obley</a><br/>
          (New York)
        </figcaption>
      </figure>
    </div>
  </li>
  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/lester_han.jpg" />
        <figcaption><a href="mailto:lgallina@thoughtworks.com">Lauren Gallinaro</a><br/>
          (New York)
        </figcaption>
      </figure>
    </div>
  </li>
  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/lester_han.jpg" />
        <figcaption><a href="mailto:achou@thoughtworks.com">Audrey Chou</a><br/>
          (New York)
        </figcaption>
      </figure>
    </div>
  </li>
  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/lester_han.jpg" />
        <figcaption><a href="mailto:babara@thoughtworks.com">Rebecca Abara</a><br/>
          (New York)
        </figcaption>
      </figure>
    </div>
  </li>
  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/lester_han.jpg" />
        <figcaption><a href="mailto:tsonnebo@thoughtworks.com">True Sonneborn</a><br/>
          (New York)
        </figcaption>
      </figure>
    </div>
  </li>
</ul>

<!--<h1>Support Team</h1>-->

<!--<ul class="dev-list">-->
<!--</ul>-->

<h1>Past contributors</h1>

<ul class="dev-list">
  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/tania_abdollahi.jpg" />
        <figcaption><a href="mailto:tabdolla@thoughtworks.com">Tania Abdollahi</a><br/>
          (New York)
        </figcaption>
      </figure>
    </div>
  </li>
  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/valerie.png" />
        <figcaption><a href="mailto:varoske@thoughtworks.com">Valerie Roske</a><br />
          (San Francisco)</figcaption>
      </figure>
    </div>
  </li>
  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/brandon-smith.jpeg" />
        <figcaption><a href="mailto:brsmith@thoughtworks.com">Brandon Smith</a><br />
          (New York)</figcaption>
      </figure>
    </div>
  </li>

  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/whitney-behr.png" />
        <figcaption><a href="mailto:wlbehr@thoughtworks.com">Whitney Behr</a><br />
          (New York)</figcaption>
      </figure>
    </div>
  </li>

  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/max.jpg" />
        <figcaption><a href="mailto:manderso@thoughtworks.com">Max Anderson</a><br />
          (San Francisco)</figcaption>
      </figure>
    </div>
  </li>

  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/jablonski.jpg" />
        <figcaption><a href="mailto:ajablons@thoughtworks.com">Alex Jablonski</a><br />
          (New York)</figcaption>
      </figure>
    </div>
  </li>

  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/lacey_laborde.png" />
        <figcaption><a href="mailto:llaborde@thoughtworks.com">Lacey Laborde</a><br/>
          (New York)
        </figcaption>
      </figure>
    </div>
  </li>

  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/brandon_teng.png" />
        <figcaption><a href="mailto:bteng@thoughtworks.com">Brandon Teng</a><br/>
          (San Francisco)
        </figcaption>
      </figure>
    </div>
  </li>
  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/mark.jpg" />
        <figcaption><a href="mailto:msbacks@thoughtworks.com">Mark Backsmeier</a><br />
          (Chicago)</figcaption>
      </figure>
    </div>
  </li>

  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/louie.jpg" />
        <figcaption><a href="mailto:lperez@thoughtworks.com">Louie Perez</a><br />
          (San Francisco)</figcaption>
      </figure>
    </div>
  </li>

  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/allie.jpg" />
        <figcaption><a href="mailto:aquintan@thoughtworks.com">Allie Quintano</a><br />
          (Atlanta)</figcaption>
      </figure>
    </div>
  </li>

  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/asif.png" />
        <figcaption><a href="mailto:archoud@thoughtworks.com">Asif Choudhury</a><br />
          (New York)</figcaption>
      </figure>
    </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/bearclaw.png" />
      <figcaption><a href="mailto:aserafim@thoughtworks.com">Aleksandar Serafimoski</a><br />
      (Chicago)</figcaption>
    </figure>
  </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/crystal-ahn.jpeg" />
      <figcaption>Crystal Ahn<br />
      (No longer at TW)</figcaption>
    </figure>
  </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/david-kormushoff.jpeg" />
      <figcaption>David Kormushoff<br />
      (No longer at TW)</figcaption>
    </figure>
  </div>
  </li>

  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/emily-montelione.jpeg"/>
        <figcaption>Emily Montelione<br/>
          (No longer at TW)
        </figcaption>
      </figure>
    </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/james-courtois.png" />
      <figcaption><a href="mailto:jcourtoi@thoughtworks.com">James Courtois</a><br />
      (Chicago)</figcaption>
    </figure>
  </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/jason-wickstra.JPG" />
      <figcaption><a href="mailto:jwickstr@thoughtworks.com">Jason Wickstra</a><br />
      (Chicago)</figcaption>
    </figure>
  </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/nick-hollon.png" />
      <figcaption>Nick Hollon<br />
      (No longer at TW)</figcaption>
    </figure>
  </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/robin-dunlop.jpg" />
      <figcaption>Robin Dunlop<br />
      (No longer at TW)</figcaption>
    </figure>
  </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/sam-jacobs.png" />
      <figcaption>Sam Jacobs<br />
      (No longer at TW)</figcaption>
    </figure>
  </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/svetlana.png"  />
      <figcaption>Svetlana Ivanova<br />
      (No longer at TW)</figcaption>
    </figure>
  </div>
  </li>

  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/richie-thomas.png" />
        <figcaption><a href="mailto:rcthomas@thoughtworks.com">Richie Thomas</a><br />
        (New York)</figcaption>
      </figure>
    </div>
  </li>
</ul>
