<h1> Contributors </h1>
<h2>
  <a href="mailto:review-site-support@thoughtworks.com">Need Support?</a>
</h2>
<ul>
  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/team-2014.png" width="600" />
        <figcaption> Review Site team at the Chicago holiday party 2014</figcaption>
      </figure>
    </div>
  </li>
</ul>

<h1>Current Team</h1>

<ul class="dev-list">
  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/brad.jpg" />
        <figcaption><a href="mailto:bmenchl@thoughtworks.com">Brad Menchl</a><br />
          (Chicago)</figcaption>
      </figure>
    </div>
  </li>
 </ul>

<h1>Support Team</h1>

<ul class="dev-list">
 <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/jablonski.jpg" />
      <figcaption><a href="mailto:ajablons@thoughtworks.com">Alex Jablonski</a><br />
        (Chicago)</figcaption>
    </figure>
  </div>
 </li>

 <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/valerie.png" />
      <figcaption><a href="mailto:varoske@thoughtworks.com">Valerie Roske</a><br />
        (Chicago)</figcaption>
    </figure>
  </div>
 </li>
 <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/brandon-smith.jpeg" />
      <figcaption><a href="mailto:brsmith@thoughtworks.com">Brandon Smith</a><br />
        (Chicago)</figcaption>
    </figure>
  </div>
 </li>

 <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/lacey_laborde.png"/>
        <figcaption><a href="mailto:llaborde@thoughtworks.com">Lacey Laborde</a><br/>
          (Chicago)
        </figcaption>
      </figure>
    </div>
 </li>

 <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/whitney-behr.png" />
        <figcaption><a href="mailto:wlbehr@thoughtworks.com">Whitney Behr</a><br />
          (Chicago)</figcaption>
      </figure>
    </div>
 </li>
</ul>

<h1>Past contributors</h1>

<ul class="dev-list">
  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/asif.png" />
        <figcaption><a href="mailto:archoud@thoughtworks.com">Asif Choudhury</a><br />
          (Chicago)</figcaption>
      </figure>
    </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/bearclaw.png" />
      <figcaption><a href="mailto:aserafim@thoughtworks.com">Aleksandar Serafimoski</a><br />
      (Chicago)</figcaption>
    </figure>
  </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/crystal-ahn.jpeg" />
      <figcaption><a href="mailto:cahn@thoughtworks.com">Crystal Ahn</a><br />
      (Chicago)</figcaption>
    </figure>
  </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/david-kormushoff.jpeg" />
      <figcaption>David Kormushoff<br />
      (No longer at TW)</figcaption>
    </figure>
  </div>
  </li>

  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/emily-montelione.jpeg"/>
        <figcaption><a href="mailto:emonteli@thoughtworks.com">Emily Montelione</a><br/>
          (No longer at TW)
        </figcaption>
      </figure>
    </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/james-courtois.png" />
      <figcaption><a href="mailto:jcourtoi@thoughtworks.com">James Courtois</a><br />
      (Chicago)</figcaption>
    </figure>
  </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/jason-wickstra.JPG" />
      <figcaption><a href="mailto:jwickstr@thoughtworks.com">Jason Wickstra</a><br />
      (Chicago)</figcaption>
    </figure>
  </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/nick-hollon.png" />
      <figcaption><a href="mailto:nhollon@thoughtworks.com">Nick Hollon</a><br />
      (San Francisco)</figcaption>
    </figure>
  </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/robin-dunlop.jpg" />
      <figcaption>Robin Dunlop<br />
      (No longer at TW)</figcaption>
    </figure>
  </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/sam-jacobs.png" />
      <figcaption><a href="mailto:sajacobs@thoughtworks.com">Sam Jacobs</a><br />
      (Chicago)</figcaption>
    </figure>
  </div>
  </li>

  <li>
  <div class="dev-info">
    <figure>
      <img src="/assets/contributors/svetlana.png"  />
      <figcaption><a href="mailto:sivanova@thoughtworks.com">Svetlana Ivanova</a><br />
      (Chicago)</figcaption>
    </figure>
  </div>
  </li>

  <li>
    <div class="dev-info">
      <figure>
        <img src="/assets/contributors/richie-thomas.png" />
        <figcaption><a href="mailto:rcthomas@thoughtworks.com">Richie Thomas</a><br />
        (San Francisco)</figcaption>
      </figure>
    </div>
  </li>
</ul>
