<h1>Review Site Help</h1>

<h2>How to use the site</h2>

<p>As a reviewed, you will be given a link to create a new Feedback entry for a Junior Consultant.

Once you have signed in/signed up, fill in the form, and click either "Save for later" or "Submit Final".

Until the feedback is marked as "Final", you are able to return and continue editing the contents.

Once the feedback is "Final", you will be unable to edit/change the feedback.

</p>

<h2>Normal Flow for the JC Liason</h2>
<ul>
    <li>Create a new Junior Consultant (if necessary) from the Junior Consultant menu</li>
    <li>Create a new Review for the JC for the necessary Review Type</li>
    <li>Copy the "new feedback" link for this review, and e-mail it to anyone that you would like to contribute feedback</li>
    <li>Wait....</li>
    <li>See the review from people on the main page</li>
</ul>

<h2>Normal flow for Reviewers</h2>
<ul>
    <li>Receive a URL link in e-mail</li>
    <li>Click on the link, and browser brings you to the Sign-In page</li>
    <li>Sign in (existing user), or Sign up (new user)</li>
    <li>Redirected to the "New Feedback" page for the desired JC</li>
    <li>[Optional]:
        <ul>
        <li>Fill in the data, and click on "Create Feedback"</li>
        <li>Return later, and update the content again and again</li>
        </ul>
    </li>
    <li>Click "Submit Final" to mark the Feedback as "submitted", and prevent future changes/deletions</li>
</ul>
