<h1>Review Site Help</h1>

<h2>How to use the site</h2>

<p>As a reviewed, you will be given a link to create a new Feedback entry for a Junior Consultant.

Once you have signed in/signed up, fill in the form, and click either "Save for later" or "Submit Final".

Until the feedback is marked as "Final", you are able to return and continue editing the contents.

Once the feedback is "Final", you will be unable to edit/change the feedback.

</p>
