<h1>Review Site Help</h1>

<h2>How to use the site</h2>

<h3>Reviewer</h3>
<ul>
  <li>As a reviewer, you will be given a link to create a new Feedback entry for a Junior Consultant.</li>
  <li>You must <b>Sign up</b> for a new account</li>
  <li>Once you have signed in/signed up, fill in the form, and click either "Save for later" or "Submit Final".
  <ul>
    <li>Until the feedback is marked as "Final", you are able to return and continue editing the contents.</li>
    <li>Once the feedback is "Final", you will be unable to edit/change the feedback.</li>
  </ul>
  </li>
</ul>

<h3>Junior Consultant</h3>
<ol>
  <li>Sign up for an account on this site, use your flastname@thoughtworks.com e-mail address</li>
  <li>Once you sign in, you should see the status of any reviews that have been started for you</li>
  <li>From this page, you can Invite Reviewers and cause an e-mail to be sent to them</li>
  <li>You can click on the "View Summary" link to see any feedback that has been submitted as "Final" feedback</li>
  <li>From the Summary page, you can:
  <ul>
    <li>Add Additional Feedback - To enter feedback that someone has given you outside of the system</li>
    <li>Add Self Assessment notes</li>
  </ul>
  </li>
</ol>

<h3>Administrator</h3>
<ol>
    <li>Create a new Junior Consultant (if necessary) from the Junior Consultant menu</li>
    <li>Create a new Reviewing Group (if necessary) from the Reviewing Group menu
    <ul>
      <li>Create Reviewing Group Members (and Users) too, and assign them to the reviewing group</li>
      <li>These users will be able to see the review information, just like the JC</li>
    </ul>
    </li>
    <li>Create a new Review for the JC for the necessary Review Type (6-month, 12-month...)</li>
    <li>Use the "Invite Reviewer" option in order to send e-mails to people that should be invited to review the JC
      <ul>
        <li>They will be required to create a new account before they can submit feedback</li>
      </ul>
    </li>
    <li>Send a link to the main site http://twreviewsite.herokuapp.com to the Junior Consultant so that they can see the review and invite their own reviewers</li>
    <li>Wait....(Reviewers will submit feedback)</li>
    <li>The main page will indicate how many people have submitted feedback, and you can "View Summary" for this review.</li>
    <li>If necessary, "Non-Final Submitted" feedback can be changed to "Final Submitted" feedback, so that the JC can see the feedback</li>
</ol>
