<h1>Review Site Homepage</h1>

<% if signed_in? %>
  <% if current_user.admin? %>
    <%= render :partial => 'welcome/index_admin' %>
  <% else %>
    <%= render :partial => 'welcome/index_user' %>
  <% end %>
<% end %>





