<h1>Editing feedback for <%= @review.junior_consultant %></h1>

<%= render :partial => 'form', :locals => {:additional => !@feedback.user_string.nil? } %>

<%= link_to 'Show', [@review, @feedback] %> |
<%= link_to 'Back', review_path(@review) %>
