<h1>Feedback for: <%= "#{@review.junior_consultant}'s #{@review.review_type} review"%></h1>

<%= render :partial => 'form', :locals => {:additional => false } %>

<%= link_to 'Back', review_path(@review) %>
