// Place all the styles related to the Feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-descriptions {
  @include span-columns(6);
}

.feedback-form {
  @include span-columns(6);
  .hidden {
    display: none;
  }
}

.external-feedback-form {
  @include shift(2);
  @include span-columns(8);
}

//CSS below is a modified version of jQuery UI -v1.11.2 - 2014-10-16
//To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
//Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: .5em .5em .5em .7em;
  min-height: 0; /* support: IE7 */
  font-size: 100%;
  background: white;
  &.ui-accordion-header-active {
    font-weight: bold;
    border: 3px solid $brand-mint;
  }
}

.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em;
  padding-top: 15px;
  padding-bottom: 15px;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}

.comments-icon .ui-accordion-header-icon {
  display: none;
}

.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
  &.comments-description {
    display: none !important;
  }
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:required:invalid {
  &.required-field {
    border: 2px solid $brand-red;
  }
}
input:required:valid {
  &.required-field {
    border: 1px solid $brand-gray;
  }
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
  width: 16px;
  height: 16px;
}
.ui-state-default .ui-icon {
  background-image: url("non_bold_icons.png");
}
.ui-state-active .ui-icon,
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url("bold_icons.png");
}

/* positioning */
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
