.contributors-link {
  display: inline-block;
  float: right;
  padding: 10px;

  a {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
  }

  &:hover {
      background-color: $dark-gray;
  }
}

.gutter {
  min-height: 50px;
}
