
.field_with_errors > input,
.field_with_errors > select, 
.field_with_errors > .token-input-list {
  border: 1px solid $brand-danger;
}

.field-error-message {
  margin: 0;
  color: $brand-danger;

  &:first-letter {
    text-transform: uppercase;
  }
}
