.required {
  color: $brand-danger;
}

.fa-trash, .fa-remove {
  color: $brand-pink;
}

.fa-key {
  color: $brand-magenta;
}

.fa-graduation-cap {
  color: $brand-lime;
}

.fa-book {
  color: $brand-orange;
}

span.fa-lock, span.fa-unlock {
  padding-right: 5px;
}

.fa-hidden {
  visibility: hidden;
}

.fa-remind-all {
  color: $brand-white;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;

  &:hover{
    -ms-transform: translate(0px,-2px);
    -webkit-transform: translate(0px,-2px);
    -o-transform: translate(0px,-2px);
    transform: translate(0px,-2px);
    color: $brand-white;
  }

  &:active {
    color: $brand-white;
  }
}

.fa-disabled {
  pointer-events: none;
  color: $brand-disabled-gray;
}