//$navbar-default-bg: black;
$navbarBackgroundHighlight: black;
@import 'bootstrap';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* radio buttons */

.some-class { float:left; clear:none; }
fieldset { overflow:hidden }
input[type=radio], input.radio { float:left; clear:none; margin: 2px 0 0 2px; }

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
}

label { 
  float:left; 
  clear:none; 
  display:block; 
  padding: 0 5 0 0; 
}

.checkbox {
  float: none;
}

.nofloat {
  float: none;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container {
  width: 1080px;
}

/* typography */

.improvement_text {
  color:#09f;
}

.exceed_text {
  color:#3CC929;
}

body.reviews.summary thead {
  background-color: lightgray;
}

body.reviews.summary th {
  padding: 10px 18px;
}

body.reviews.summary tbody tr {
  border-bottom: 1px dashed grey;
}

body.reviews.summary tbody td {
  padding: 20px 10px;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: Calisto MT, Didot, Georgia, Helvetica, Arial;
  font-size: 2.8em;
  letter-spacing: 0px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 1.5em;
  font-family: Calisto MT, Didot, Georgia, Helvetica, Arial;
  letter-spacing: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  color: #999;
}

h3 {
  font-size: 1.02em;
  margin-bottom: 8px;
  text-align: left;
  font-weight: normal;
  color: #333;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  font-family: Calisto MT, Didot, Georgia, Helvetica, Arial;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: lowercase;
  letter-spacing: 0.8px;
  padding-top: 9px;
  font-weight: normal;
  line-height: 1;
  word-spacing: -5px;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#nonLive_notification {
  float: left;
  font-size: 1em;
  color: lightgreen;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 13px;
  margin-right: 10px;
  font-weight: bold;
  line-height: 1;
  border: none;
  display: inline;
}

#okta-input {
  float: left;
  margin-top: 10px;
  color: #bbb;

  form {
    margin: 0px;
  }

  #temp-okta {
    padding-left: 3px;
    padding-right: 3px;
    height: 20px;
    width: 100px;
  }

  #temp-okta-submit {
    padding: 3px;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  margin-left: 30px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: right;
  margin-right: 80px;
}

/* forms */

input, textarea, .uneditable-input {
  height: auto;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 8px;
  @include box_sizing;
}

input.short {
  width: 20%;
}

input.normal {
  width: 30%;
}

input.long {
  width: 60%;
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
