.dataTables_filter {
  display: inline-block;
  @include float(right);
  max-height: 31px;

  input{
    display: inline-block;
    width: 367px;
    padding: 5px;
    margin: 0;
  }
}

.dataTables_length {
  display: inline-block;
  margin-top: 10px;

  select {
    height: initial;
    width: 75px;
    display: inline-block;
    margin: 0;
    background-color: $brand-input-gray;
    color: $brand-gray;
  }
}

.dataTables_info {
  display: inline-block;
}

.dataTables_paginate {
  display: inline-block;
  @include float(right);
  margin: 0;

  a {
    margin-right: 10px;
    cursor: pointer;
  }

  > a:last-child {
    margin-right: 0;
  }
}

.sorting, .sorting_asc, .sorting_desc {
  cursor: pointer;
}


tr.odd td.sorting_1,
tr.odd td.sorting_2,
tr.odd td.sorting_3,
tr.even td.sorting_1,
tr.even td.sorting_2,
tr.even td.sorting_3 {
  background-color: $brand-input-gray;
}

td ul li {
  display: inline;
}

.spacer {
  clear: both;
}

.boolean-col {
  width: 10%;
}

.nowrap {
  white-space: nowrap;
}
