div.dataTables_filter {
  padding-top: 10px;
}
div.dataTables_length {
  padding-top: 15px;
}
div.dataTables_length label {
  width: 200px;
  float: left;
  text-align: left;
  display: inline-block;
}

div.dataTables_length select {
  width: 75px;
  display: inline-block;
}

div.dataTables_filter label {
  float: right;
  width: 430px;
  display: inline-block;
  padding-right: 0px;
}

div.dataTables_filter input{
  display: inline-block;
  width: 200px;
  padding: 5px;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

table {
  margin: 1em 0;
  clear: both;
}
