// Place all the styles related to the Feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#instructions-label {
  font-weight: bold;
  cursor: pointer;
}

#instructions-label:hover {
  background-color: black;
  color: white;
}

#instructions {
  display: none;  
}

textarea {
  height: 80px;
}

.feedback_scale {
  float: left;
  width: auto;
}

select {
  width: 125px;
}

textarea {
 padding: 8px
}

.feedback_not_submitted {
  color: red;
}

.save_feedback_button {
  clear: both;
  background-color: #292EA7;
  color: white;
  float: left;
}

.submit_feedback_button {
  background-color: #3EAA58;
  color: white;
  float: left;
}

.delete_feedback_button {
  background-color: #CF0026;
  color: white;
  border-top: 0px;
  margin-left:3px;
  float: left;
  padding: 8px;
}

.delete_padder {
  padding-bottom: 10px;
}

.actions {
  margin-bottom: 0px;
}
