#nonLive_notification {

	float: left;
	  font-size: 1em;
	  color: lightgreen;
	  text-transform: uppercase;
	  letter-spacing: -1px;
	  padding-top: 13px;
	  font-weight: bold;
	  line-height: 1;
	border: none;
	display: inline;

}
