// I want to delete this stuff
.new_feedback_link {
  color: blue;
  &:visited {
    color: blue;
  }
}

.heading {
  word-wrap: normal;
}

.review-table {
  table-layout: fixed;
}

.feedback-text {
  border: 1px solid black;
  overflow: hidden;
}
