// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-review {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dev-list li {
  list-style: none;
  display: inline-block;
  width: 25%;
  margin-left: 6%;
}

.dev-info figcaption {
  text-align: center;
  padding-top: 5px;
}

