<%= render :partial => "reviews/sidenav", :locals => { :review => review } %>

<div class="main-content">
  <%= render :partial => 'feedbacks/feedbacks', :locals => {
    :feedbacks => review.feedbacks, :invitations => review.invitations
  } %>
</div>

<br class="spacer" />
<br class="spacer" />
