<div class="form-container">
<table id="reviews" class="display datatable">
  <thead>
  <tr>
    <th>Associate Consultant</th>
    <th>Review Type</th>
    <th>Review Date</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @reviews.default_load.each do |review| %>

      <tr>
        <td><%= review.reviewee.name %></td>
        <td><%= review.review_type %></td>
        <td><%= review.review_date.to_s(:short_date) %></td>
        <td><%= link_to("", review, class: "fa fa-eye fa-lg", title: "View") %></td>
      </tr>

    <% end %>
  </tbody>
</table>
</div>

<script>
  $(function() {
  $('table#reviews').DataTable({
    pagingType: "full",
    lengthChange: false,
    language: {
      infoFiltered: "",
      search: "",
      searchPlaceholder: "Search for a review by AC or date"
    },
    columnDefs: [
      { orderable: false, targets: [ 3 ] },
      { className: "nowrap", targets: [ 0 ] },
      { className: "nowrap button-col", targets: [ 3 ] }
    ]
    })
  });
</script>
