<table id="reviews" class="display" data-source="<%= reviews_url(format: "json") %>">
  <thead>
  <tr>
    <th class="reviewing-group-col">Reviewing Group</th>
    <th class="associate-consultant-col">Associate Consultant</th>
    <th class="review-type-col">Review Type</th>
    <th class="review-date-col">Review Date</th>
    <th class="submitted-feedback-col">Submitted<br/>Feedback</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br class="spacer" />
<br class="spacer" />

<script>
  $('table#reviews').dataTable({
        sPaginationType: "full_numbers",
        bServerSide: true,
        sAjaxSource: $('#reviews').data('source'),
        oLanguage: {
          sInfoFiltered: ""
        },
        aoColumnDefs: [
          { bSortable: false, aTargets: [ 4, 5 ] }
        ]
    });
</script>
