<div class="form-container">
<table id="my-reviews" class="display">
  <thead>
  <tr>
    <th>Review Type</th>
    <th>Review Date</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @reviews.each do |review| %>

    <tr>
      <td><%= review.review_type %>
        <% if review.upcoming? %>
          <span class="table badge">
            Upcoming
          </span>
        <% end %>
      </td>
      <td><%= review.review_date.to_s(:short_date) %></td>
      <td class="nowrap button-col">
        <% if review.upcoming? || (review.review_date < Date.today) %>
          <%= link_to '',
            review ,
            :class => "fa fa-eye fa-lg fa-fw",
            :title => "View"
          %>
        <% end %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>
</div>
