<table class="reviews">
  <thead>
  <tr>
    <th>Review Type</th>
    <th>Review Date</th>
    <th>Upcoming?</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @reviews.each do |review| %>

    <tr>
      <td><%= review.review_type %></td>
      <td><%= review.review_date %></td>
      <td class="boolean-col"><%= review.upcoming? ? "yes" : "" %></td>
      <td class="nowrap button-col">
        <% if review.upcoming? %>
          <%= link_to '',
            review ,
            :class => "fa fa-eye fa-lg fa-fw",
            :title => "View"
          %>
        <% end %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>

<br class="spacer" />
<br class="spacer" />

<script>
  $('table.reviews').dataTable({
    bJQueryUI: true,
    bLengthChange: false,
    bFilter: false,
    aoColumnDefs: [
      { aDataSort: [ 1 ], aTargets: [ 0 ] },
      { bSortable: false, aTargets: [ 3, 4, 5 ] }
    ]
  });
</script>
