<table id="reviews" class="display" data-source="<%= reviews_url(format: "json") %>">
  <thead>
  <tr>
    <th>Reviewing Group</th>
    <th>Junior Consultant</th>
    <th>Review Type</th>
    <th>Review Date</th>
    <th>Feedback Deadline</th>
    <th>Submitted / Total<br/>Feedback</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br class="spacer" />
<br class="spacer" />

<script>
    $('table#reviews').dataTable({
        sPaginationType: "two_button",
        bJQueryUI: true,
        bProcessing: true,
        bServerSide: true,
        sAjaxSource: $('#reviews').data('source'),
        oLanguage: {
          sInfoFiltered: ""
        },
        aoColumnDefs: [
          { bSortable: false, aTargets: [ 5, 6, 7, 8 ] }
        ]
    });
</script>
