<div class="form-container">
<table id="reviews" class="display">
  <thead>
  <tr>
    <th>Review Type</th>
    <th>Review Date</th>
    <th>Upcoming?</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @reviews.each do |review| %>

    <tr>
      <td><%= review.review_type %></td>
      <td><%= review.review_date.to_s(:short_date) %></td>
      <td class="boolean-col"><%= review.upcoming? ? "yes" : "" %></td>
      <td class="nowrap button-col">
        <% if review.upcoming? %>
          <%= link_to '',
            review ,
            :class => "fa fa-eye fa-lg fa-fw",
            :title => "View"
          %>
        <% end %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>
</div>

<script>
  $('table#reviews').dataTable({
    bLengthChange: false,
    bFilter: false,
    aoColumnDefs: [
      { aDataSort: [ 1 ], aTargets: [ 0 ] },
      { bSortable: false, aTargets: [ 3 ] },
      { sClass: "nowrap", aTargets: [ 0 ] },
      { sClass: "nowrap button-col", aTargets: [ 3 ] }
    ]
  });
</script>
