<div class="form-container">
<table id="reviews" class="display" data-source="<%= reviews_url(format: "json") %>">
  <thead>
  <tr>
    <th>Associate Consultant</th>
    <th>Review Type</th>
    <th>Review Date</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

<br class="spacer" />
<br class="spacer" />

<script>
  $('table#reviews').dataTable({
    sPaginationType: "full_numbers",
    bServerSide: true,
    sAjaxSource: $('#reviews').data('source'),
    oLanguage: {
      sInfoFiltered: ""
    },
    aoColumnDefs: [
      { bSortable: false, aTargets: [ 3 ] },
      { sClass: "nowrap", aTargets: [ 0 ] },
      { sClass: "nowrap button-col", aTargets: [ 3 ] }
    ]
  });
</script>
