<h1>Edit Review</h1>
<h2><%= @review.pretty_print_with(current_user) %></h2>

<div class="container">
  <%= render :partial => "sidenav", :locals => { :review => @review } %>

  <div class="main-content">
<% button_title = 'Save Changes' %>
<% if current_user.admin %>
  <%= render :partial => 'form', :locals => {button_title: button_title} %>
<% else %>
  <%= render :partial => 'form_ac', :locals => {button_title: button_title} %>
<% end %>
</div>
</div>
