<h1>Edit Review</h1>
<h2><%= @review %></h2>

<div class="container">
  <%= render :partial => "sidenav", :locals => { :review => @review } %>

  <div class="main-content">
<% button_title = 'Save Changes' %>
<%= render :partial => 'form', :locals => {button_title: button_title} %>
</div>
</div>
