<% if !current_user.ac? || !current_user.coachees.empty? %>
  <h1>Watched Reviews</h1>
    <% if current_user.admin? %>
      <div class="new-review"><%= link_to 'New Review', new_review_path, :class => 'button' %></div>
    <% end %>
  <%= render partial: 'reviews' %>
<% else %>
  <h1>My Reviews</h1>
  <%= render partial: 'reviews_ac' %>
<% end %>
