<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @reviewing_group.name %>
</p>


<%= link_to 'Edit', edit_reviewing_group_path(@reviewing_group) %> |
<%= link_to 'Back', reviewing_groups_path %>
