<footer class="footer">
  <small>
    Review Website by <a href="mailto:aserafimoski@gmail.com">Aleksandar Serafimoski</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>