<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Help", help_welcome_index_path %></li>
      <li><%= link_to "Contributors", contributors_welcome_index_path %></li>
    </ul>
  </nav>
</footer>
