<footer class="footer">
  <%#small>
    Review Site by <a href="mailto:aserafimoski@gmail.com">Aleksandar Serafimoski</a> and 
    <a href="mailto:rdunlop@thoughtworks.com">Robin Dunlop</a>
  </small%>
  <nav>
    <ul>
      <li><%= link_to "Help", help_welcome_index_path %></li>
      <li><%= link_to "Contributors", contributors_welcome_index_path %></li>
    </ul>
  </nav>
</footer>
